.vscode
*.txt
out
swdebug
swdebug.cu
smith-waterman.cu
smith-watermanSeq.cpp
lib/

getInfo.cu
info
cuda-repo-ubuntu2004-11-2-local_11.2.2-460.32.03-1_amd64.deb
*.nsys-rep
*.sqlite
checkmatrix
checkMax
solver